# vscode workspace
*.code-workspace

# Notepad++ .bak
*.bak

# output and test images
inv_macro.txt
nrm_macro.txt
rpr_macro.txt
inv_preview.png
nrm_preview.png
rpr_preview.png
proc_screenshot.png
test

# changelog (stores what goes in git commits anyways)
changelog.txt

# needed because I'm not very smart
git_instructions.txt

# test.py (for testing purposes only)
test.py

# pycache
__pycache__

# build-related
build
dist
*.egg-info
